<!DOCTYPE html>
<html>
  <head>
    <title>FixMe</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 
  <body>
   <img src="/dogs-2195708_640.jpg" alt="a sad puppy dog">
    <%= yield %>
  </body>
</html>
